*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: black;
    width: 100%;
    box-sizing: border-box;
}
header .logo{
    color: white ;
    height: 50px;
    line-height: 50px ;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
   list-style: none;
}

header nav ul li a{
    height: 50px;
    line-height: 50px ;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: white;
    background: rgb(8, 111, 207);
    border-radius: 5px;
}
.menu-toggle{
    color: white;
    line-height: 50px;
    float: right;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media(max-width:991px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
       position: absolute;
       width: 100%;
       height: 53vh;
       background: #333;
       top: 50px;
       left: -100%;
       transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px rgba(255, 255, 255) solid;
    }
}